{
  "extends": "x2",
  "globals": {
    "window": true,
    "fetch": true,
    "Promise": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "node/no-unpublished-import": 0
  }
}
